<section class="home-section" id="home">
    <div class="container home-container">
<div class="home-wrapper">
    <h1 class="home-title">Feel the Moment.</h1>
    <p class="home-text">No rush. Just you and the flow.</p>
</div>
<picture>
    <source srcset="
                /img/home/desk.png  1x,
                /img/home/desk@2x.png 2x
                " media="(min-width: 1439px)" />
    <source srcset="
                /img/home/mob.png  1x,
                /img/home/mob@2x.png 2x
                " media="(max-width: 1438px)" />
    <img src="/img/home/mob.png" alt="Inner Weave" loading="lazy" />
</picture>
    </div>
</section>
<section class="about-section" id="about">
    <div class="container">
        <h2 class="about-title">About the Game</h2>
        <div class="about-text-wrapper">
            <p>A space for mental reset</p>
            <p>Inner Weave is not about winning — it’s about slowing down. Players interact with evolving visual patterns that respond
            to touch, rhythm,<br/> and breathing pace. It actually learns how you like to interact and adjusts accordingly.
</p>
        </div>
    </div>
</section>
<section class="how-section" id="how">
    <div class="container how-container">
        <div class="how-wrapper">
            <h2 class="how-title">How to Play</h2>
<div class="how-list-wrapper">
    <p>Touch, breathe, follow</p>
    <div class="how-list-text">
        <ul class="how-list">
            <li>Start with a Breath</li>
        </ul>
        <p>Begin by syncing with a slow visual rhythm.</p>
    </div>
    <div class="how-list-text">
        <ul class="how-list">
            <li>Interact Gently</li>
        </ul>
        <p>Swipe or tap to influence the patterns.</p>
    </div>
    <div class="how-list-text">
        <ul class="how-list">
            <li>Follow the Flow</li>
        </ul>
        <p>Let visuals guide your pace.</p>
    </div>
    <div class="how-list-text">
        <ul class="how-list">
            <li>Release Control</li>
        </ul>
        <p>Just let it do its thing - don't try to control everything.</p>
    </div>
    <div class="how-list-text">
        <ul class="how-list">
            <li>Stay Present</li>
        </ul>
        <p>There is no goal — only experience.</p>
    </div> 
</div>
</div>
<picture>
    <source srcset="
                /img/how/desk.png  1x,
                /img/how/desk@2x.png 2x
                " media="(min-width: 1439px)" />
    <source srcset="
                /img/how/mob.png  1x,
                /img/how/mob@2x.png 2x
                " media="(max-width: 1438px)" />
    <img src="/img/how/mob.png" alt="Inner Weave" loading="lazy" />
</picture>
    </div>
</section>