<section class="home-section">
    <div class="container home-container">
<div class="home-wrapper">
    <h1 class="home-title">Feel the Moment.</h1>
    <p class="home-text">No rush. Just you and the flow.</p>
</div>
<picture>
    <source srcset="
                /img/home/desk.png  1x,
                /img/home/desk@2x.png 2x
                " media="(min-width: 1439px)" />
    <source srcset="
                /img/home/mob.png  1x,
                /img/home/mob@2x.png 2x
                " media="(max-width: 1438px)" />
    <img src="/img/home/mob.png" alt="Inner Weave" loading="lazy" />
</picture>
    </div>
</section>