.home-section{
background: #f7c1c8;
}
.home-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    padding-bottom: 50px;
}
.home-wrapper{
    margin-top: 56px;
    display: flex;
        flex-direction: column;
        align-items: center;
        gap: 20px;
}
.home-title{
font-family: "Manrope", sans-serif;
    font-weight: 700;
    font-size: 30px;
    line-height: 1.33333;
    text-align: center;
    color: #010101;
}
.home-text{
    font-weight: 600;
    font-size: 20px;
    line-height: 1.5;
    text-align: center;
}
@media only screen and (min-width: 1440px) {
 .home-container{
    flex-direction: row;
    gap: 64px;
    padding-bottom: 164px;
}
.home-wrapper{
    margin-top: 0;
    width: 892px;
        align-items: start;
        gap: 40px;
}
.home-title{
font-size: 60px;
line-height: 1.25;
text-align: left;
}
.home-text{
font-weight: 500;
font-size: 32px;
line-height: 1.3125;
    text-align: left;
}   
}
/* About the Game */
.about-title{
color: #fff;
}
.about-text-wrapper{
display: flex;
flex-direction: column;
align-items: start;
gap: 20px;  
color: #fff;
}
@media only screen and (min-width: 1440px) {
.about-text-wrapper{
gap: 40px;  
}    
}
/* How to Play */
.how-section {
    background: #f7c1c8;
}
.how-container{
    padding-top: 50px;
    padding-bottom: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}
.how-list-wrapper{
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 16px;   
}
.how-list{
list-style-type: disc;
padding-left: 20px;
}
@media only screen and (min-width: 1440px) {
.how-container{
    padding-top: 100px;
    padding-bottom: 100px;
    flex-direction: row-reverse;
    align-items: center;
    gap: 64px;
}
.how-wrapper{
width: 915px;
display: flex;
flex-direction: column;
align-items: center;
}
.how-list-wrapper{
    align-items: center;
    gap: 20px;   
    text-align: center;
}
.how-list{
display: flex;
    flex-direction: column;
    align-items: center;
}    
}
/* Core Elements */
.core-title{
    margin-bottom: 0;
    color: #fff;
}
.core-wrapper{
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.core-text{
color: #fff;
text-align: center;
}
.core-list{
    display: flex;
    flex-direction: column;
    gap: 20px;    
}
.core-item{
border: 1px solid #e5e7eb;
    border-radius: 16px;
    padding: 20px;
    width: 327px;
    height: auto;
box-shadow: 0 1px 2px -1px rgba(0, 0, 0, 0.1), 0 1px 3px 0 rgba(0, 0, 0, 0.1);
    background: #fff;
}
.core-item-title{
    font-weight: 600;
    font-size: 20px;
    line-height: 1.5;
    text-align: center;
    margin-bottom: 16px;
}
.core-item-text{
    font-size: 16px;
    line-height: 1.25;
}
@media only screen and (min-width: 1440px) {
.core-wrapper{
    gap: 40px;
}
.core-list{
    gap: 40px;  
    align-items: center;  
}
.core-item{
padding: 24px 23px;
width: 1174px;
}
.core-item-title{
font-weight: 500;
    font-size: 32px;
line-height: 1.3125;
text-align: left;
}
.core-item-text{
font-size: 24px;
}    
}
/* Modes */
.modes-section{
background: #f7c1c8;
}
.modes-container{
    padding-top: 50px;
    padding-bottom: 50px;
}
.modes-text{
    text-align: center;
}
.modes-list{
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}
.modes-item{
border: 1px solid #e5e7eb;
    border-radius: 16px;
    padding: 20px;
    width: 327px;
    height: 106px;
box-shadow: 0 1px 2px -1px rgba(0, 0, 0, 0.1), 0 1px 3px 0 rgba(0, 0, 0, 0.1);
    background: #fff;
}
.modes-item-title{
    font-weight: 600;
    font-size: 20px;
    line-height: 1.5;
    text-align: center;
}
.modes-item-text{
    font-size: 16px;
    line-height: 1.25;
    text-align: center;
    margin-top: 16px;
}
@media only screen and (min-width: 1440px) {
.modes-container {
        padding-top: 100px;
        padding-bottom: 100px;
}
.modes-list{
    margin-top: 40px;
    flex-direction: row;
    justify-content: center;
    gap: 16px;
}
.modes-item{
border-radius: 24px;
padding: 24px;
    width: 400px;
    height: 166px;
}
.modes-item-title{
font-weight: 500;
    font-size: 32px;
line-height: 1.3125;
}
.modes-item-text{
font-size: 24px;
}    
}
/* Player Benefits */
.benefits-section{
background: #f7c1c8;
}
.benefits-container{
    padding-top: 50px;
    padding-bottom: 50px;
}
.benefits-list{
    list-style-type: disc;
    padding-left: 20px;
    text-align: left;
    margin-top: 16px;
    display: flex;
    flex-direction: column;
    gap: 16px;
}
@media only screen and (min-width: 1440px) {
.benefits-container{
    padding-top: 100px;
    padding-bottom: 100px;
}
.benefits-container p{
    text-align: center;
}
.benefits-list{
    margin-top: 40px;
    gap: 40px;
}    
}
/* FAQ */
.faq-title{
color: #fff;
}
.faq-acc {
    display: flex;
    flex-direction: column;
    width: 327px;
    margin: 0 auto;
    gap: 12px;

}

.faq-acc-el {
    position: relative;
    transition: margin-bottom 0.3s ease;
width: 327px;
border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 16px;
    background: rgba(255, 255, 255, 0.1);
}


.faq-acc-el-title {
    margin-bottom: 0;
}

.faq-acc-el-trigger {
    border: none;
    background: inherit;
    width: 100%;
font-family: "Inter", sans-serif;
    font-weight: 600;
    font-size: 16px;
    line-height: 1.125;
    color: #fff;
    padding: 10px 20px;
    margin-bottom: 0;
    cursor: pointer;
    box-sizing: border-box;
    text-align: left;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
    height: 77px;
}


.faq-acc-arr {
    display: flex;
    align-items: center;
    justify-content: center;
    background: none;
    transition: transform 0.3s ease;
    border: none;
    background-color: inherit;

}

.faq-acc-arr.is-hidden {
    display: none;
}

.faq-acc-el.open .faq-acc-arr {
    transform: rotate(180deg);
}

.faq-acc-el-descr-frame {
    background: inherit;
color: #fff;
padding-left: 20px;
    overflow: hidden;
    max-height: 0;
    opacity: 0;
    transition: max-height 0.3s ease, opacity 0.3s ease, border-bottom 0.3s ease;
}

.faq-acc-el.js-enabled .faq-acc-el-descr-frame {
    visibility: hidden;
}


.faq-acc-el.open .faq-acc-el-descr-frame {
    visibility: visible;
    opacity: 1;
    border: none;
    background: none;
color: #fff;
    text-align: left;
    padding: 6px 20px 24px;
    max-height: 500px;
}

@media only screen and (min-width: 1440px) {

    .faq-acc {
width: 1312px;
    }

    .faq-acc-el {
width: 1312px;
    }
.faq-acc-el-trigger{
font-weight: 500;
    font-size: 20px;
    line-height: 1.6;
}

}