.home-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    padding-bottom: 50px;
}
.home-wrapper{
    margin-top: 56px;
    display: flex;
        flex-direction: column;
        align-items: center;
        gap: 20px;
}
.home-title{
font-family: "Manrope", sans-serif;
    font-weight: 700;
    font-size: 30px;
    line-height: 1.33333;
    text-align: center;
    color: #010101;
}
.home-text{
    font-weight: 600;
    font-size: 20px;
    line-height: 1.5;
    text-align: center;
}
@media only screen and (min-width: 1440px) {
 .home-container{
    flex-direction: row;
    gap: 64px;
    padding-bottom: 164px;
}
.home-wrapper{
    margin-top: 0;
    width: 892px;
        align-items: start;
        gap: 40px;
}
.home-title{
font-size: 60px;
line-height: 1.25;
text-align: left;
}
.home-text{
font-weight: 500;
font-size: 32px;
line-height: 1.3125;
    text-align: left;
}   
}
/* About the Game */
.about-section{
background: #633452;
}
.about-title{
color: #fff;
}
.about-text-wrapper{
display: flex;
flex-direction: column;
align-items: start;
gap: 20px;  
color: #fff;
}
@media only screen and (min-width: 1440px) {
.about-text-wrapper{
gap: 40px;  
}    
}
/* How to Play */
.how-container{
    padding-top: 50px;
    padding-bottom: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}
.how-list-wrapper{
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 16px;   
}
.how-list{
list-style-type: disc;
padding-left: 20px;
}
@media only screen and (min-width: 1440px) {
.how-container{
    padding-top: 100px;
    padding-bottom: 100px;
    flex-direction: row-reverse;
    align-items: center;
    gap: 64px;
}
.how-wrapper{
width: 915px;
display: flex;
flex-direction: column;
align-items: center;
}
.how-list-wrapper{
    align-items: center;
    gap: 20px;   
    text-align: center;
}
.how-list{
display: flex;
    flex-direction: column;
    align-items: center;

}    
}